<%- include("common/header"); -%>


<!-- Gallery -->

<section id="gallery">
    <div class="row">
        <div class="gallery-card col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body text-center">
                    <img src="images/gal-img1.jpg" alt="bikers image" height="300">
                </div>
            </div>
        </div>
        <div class="gallery-card col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body text-center">
                    <img src="images/gal-img2.jpg" alt="bikers image" height="300">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="gallery-card col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body text-center">
                    <img src="images/gal-img3.jpg" alt="bikers image" height="300">
                </div>
            </div>
        </div>
        <div class="gallery-card col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body text-center">
                    <img src="images/gal-img4.jpg" alt="bikers image" height="300">
                </div>
            </div>
        </div>
    </div>
</section>


<%- include("common/footer"); -%>