<%- include("common/header"); -%>


<!-- Features -->

<section id="features">
  <div class="row">
    <div class="feature-box col-lg-4">
      <i class="icon fas fa-check-circle fa-4x"></i>
      <h3>Easy to use</h3>
      <p>So easy to use, designed for bikers convenience</p>
    </div>
    <div class="feature-box col-lg-4">
      <i class="icon fas fa-bullseye fa-4x"></i>
      <h3>Bikes for Rent</h3>
      <p>We rent all types of bikes, even the classic ones</p>
    </div>
    <div class="feature-box col-lg-4">
      <i class="icon fas fa-heart fa-4x"></i>
      <h3>Find Bikers</h3>
      <p>Explore the bikers community to find bikers</p>
    </div>
  </div>
</section>


<!-- Testimonials -->

<section id="testimonials">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2>This app is a must try for all bikers. I joined a bikers community within a couple of weeks</h2>
        <img class="testimonial-image" src="images/user-1.jpg" alt="app user profile picture">
        <em>Mississauga, ON</em>
      </div>
      <div class="carousel-item">
        <h2 class="testimonial-text">I was a lone biker all these days, but with Bikers Bistro's help, I've found the
          love of my life.</h2>
        <img class="testimonial-image" src="images/user-2.jpg" alt="app user profile picture">
        <em>Toronto, ON</em>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>


<!-- Press -->

<section id="press">
  <img class="press-logo" src="images/techcrunch.png" alt="tc-logo">
  <img class="press-logo" src="images/tnw.png" alt="tnw-logo">
  <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">
  <img class="press-logo" src="images/mashable.png" alt="mashable-logo">
</section>


<%- include("common/footer"); -%>