<%- include("common/header"); -%>


<!-- Pricing -->
<!-- Using bootstrap grid to set col width for small and large devices for price cards -->

<section id="pricing">
  <h2>Membership plans</h2>
  <p>Simple and affordable price plans for all bikers.</p>
  <div class="row">
    <div class="pricing-card col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Beginner</h3>
        </div>
        <div class="card-body">
          <h2>Free</h2>
          <p>6 hours bike rent</p>
          <p>1 Match</p>
          <p>10 Messages Per Day</p>
          <p>Unlimited App Usage</p>
          <button type="button" class="btn btn-block btn-outline-dark btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="pricing-card col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Amateur</h3>
        </div>
        <div class="card-body">
          <h2>$49 / mo</h2>
          <p>48 hours bike rent</p>
          <p>5 Matches</p>
          <p>Unlimited Messages</p>
          <p>Unlimited App Usage</p>
          <button type="button" class="btn btn-block btn-dark btn-lg">Sign Up</button>
        </div>
      </div>
    </div>

    <div class="pricing-card col-lg-4 col-md-12">
      <div class="card">
        <div class="card-header">
          <h3>Pro-Bikers</h3>
        </div>
        <div class="card-body">
          <h2>$99 / mo</h2>
          <p>1 Week bike rent</p>
          <p>Unlimited Matches</p>
          <p>Unlimited Messages</p>
          <p>Unlimited App Usage</p>
          <button type="button" class="btn btn-block btn-dark btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
</section>


<%- include("common/footer"); -%>