body{
  font-family: "Montserrat"
}

#title{
  background-image: url(../images/bikers-meet.jpg);
  color: #fff;
}

h1{
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}

h2{
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 3rem;
}

h3{
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}

p{
  color: #6d6d6d;
}
.container-fluid{
  padding: 3% 15% 7%;
}
.top-opacity {
  background: rgba(0, 0, 0, 0.5);
}

.icon{
  color: rgba(0, 0, 0, 0.24);
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}
/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link{
  font-size: 1.2rem;
}
/* Download buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* title-image */

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features section */

#features{
  padding: 7% 15%;
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

/* Testimonials Secion */

#testimonials{

  text-align: center;
  background-color: rgba(0, 0, 0, 0.733);
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
}

.carousel-item{
  padding: 7% 15%;
}
/* Press Secion */

#press{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.733);
  padding-bottom: 5%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing{
  padding: 7% 10%;
  text-align: center;
}

.pricing-card {
  padding: 3% 2%;
}

/* Gallery section */

.gallery-card{
  padding: 3% 5%;
}

#cta{
  padding: 5% 20%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.945);
  color: #fff;
}

#footer{
  text-align: center;
  padding: 7% 15%;
}

.footer-image{
  padding: 3% 2%;
}

@media (max-width: 992px) {
  #title{
    text-align: center;
  }
}
