<!-- Call to Action -->

<section id="cta">
    <h3>Time to ride. Find your bikers community Today !</h3>
    <button type="button" class="btn btn-dark btn-lg download-button">
        <i class="fab fa-apple"></i>
        Download
    </button>
    <button type="button" class="btn btn-outline-light btn-lg download-button">
        <i class="fab fa-google-play"></i>
        Download
    </button>
</section>


<footer id="footer">
    <i class="footer-image fab fa-twitter"><a href="https://twitter.com/"></a></i>
    <i class="footer-image fab fa-facebook"></i>
    <i class="footer-image fab fa-instagram"></i>
    <p>© Copyright 2022 <%= title %></p>
</footer>


</body>

</html>